body{
  padding: 20px;
}
.menu{
  display: flex;
  gap: 20px;
  list-style: none;
}
.menu a{
  /* 밑줄없앰 */
  text-decoration: none;
  padding: 5px;
  background: #ebebeb;
  border-radius: 5px  ;
  color: #444;
}
.menu a.active{
  background: #3498db;
  color: white;
}
